{{define "login/reset_password.html"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.title}}</title>

    <!-- Bundle Styles -->
    <link rel="stylesheet" href="/assets/vendor/bundle.css">

    <!-- App styles -->
    <link rel="stylesheet" href="/assets/dist/css/app.min.css">

   {{template "public/publicJS.html"}}
</head>
<body>
<div class="login" style="height:60%;">

    <!-- logo -->
    <div class="text-center" style="position: relative; top:-20%; font-size:19px">重置密码</div>
    <!-- ./ logo -->
	<div></div>
	<div class="form-group">
		<input id="original_account" type="text" class="form-control" placeholder="用户名或电话或email" required autofocus>
	</div>
	<div class="form-group">
		<input id="verify_code" type="text" style="width:50%;" class="form-control" maxlength="4" placeholder="验证码" required>
		<div id="verify" style="position:absolute;top:155px;left:145px;width:50%;"><img id="verify_img" style="width: 100%" alt="点击换一张" title="点击换一张" src="/login/captcha"></div>
	</div>
	<div id="control">
		<button id="submit" class="btn btn-primary btn-block">确定</button>
		<button id="resubmit" class="btn btn-primary btn-block d-none">确定</button>
		<hr>
		<p class="text-muted">选择功能:</p>
		<a href="/login/register" class="btn btn-sm btn-outline-light mr-1" style="color:white;">注 册</a>
		or
		<a href="/login" class="btn btn-sm btn-outline-light ml-1" style="color:white;">登 录</a>
	</div>
</div>

<div class='disclaimer'>
	<p></p>
</div>

<div class="OverWindows"></div>

<!-- Bundle -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/vendor/bundle.js"></script>
<script src="/assets/vendor/feather.min.js"></script>

<!-- App scripts -->

</body>
</html>
{{template "public/cloud.html" .}}

<script>
	// 更新验证码
    $("#verify").on('click', function (){
        $('#verify_img').attr("src","/login/captcha?"+Math.random());
    });
	
	// 回车键事件
    $(document).keypress(function (e) {
        if (e.which == 13) {
            $('#submit').click();
        }
    });
	
	$("#submit").on("click",function(){
		var original_account = $("#original_account").val();
		var verify_code = $("#verify_code").val();

		$.ajax({
			async: false,
			url:	"/login/checkUserExist",
			type: 	"POST",
			dataType: "JSON",
			data: {
				"original_account": original_account,
				"verify_code": verify_code,
			},
			contentType: "application/x-www-form-urlencoded; charset=UTF-8",
			timeout: 30000,
			success: function (result) {
				if (result.status == 200) {
					$("#submit").hide();
					$("#resubmit").removeClass("d-none");
					$(".form-group").first().remove();
					$(".form-group").last().remove();
					$(".text-center").after().append(result.htmlData);
					$("#control").attr("style","position:relative; top:-20%;");
					
					$("#resubmit").on("click",function(e){
						e.preventDefault();
						/*var req = new XMLHttpRequest();
						req.open('GET', document.location, false);
						req.send(null);
						var headers = req.getAllResponseHeaders().toLowerCase();
						console.log(headers);
						*/
					
						var original_pwd = $("#original_pwd").val();
						var new_pwd = $("#new_pwd").val();
						var renew_pwd = $("#renew_pwd").val();
						var email_verify_code = $("#email_verify_code").val();
						
						if(email_verify_code == '' || email_verify_code.length <= 0){
							alert("请输入验证码");
							return false;
						}
						
						if(new_pwd.length >= 8 || new_pwd.length =< 16){
							alert("密码长度应在8位到16位之间");
							return false;
						};
						
						if(renew_pwd.length >= 8 || renew_pwd.length =< 16){
							alert("密码长度应在8位到16位之间");
							return false;
						};
						
						if(new_pwd != renew_pwd){
							alert("两次输入密码不一致");
							return false;
						};
						
						$.ajax({
							async: false,
							url:	"/login/resetPassword",
							type: 	"POST",
							dataType: "JSON",
							data: {
								"username": original_account,
								"original_pwd": original_pwd,
								"new_pwd": new_pwd,
								"renew_pwd": renew_pwd,
								"email_verify_code": email_verify_code,
							},
							contentType: "application/x-www-form-urlencoded; charset=UTF-8",
							timeout: 30000,
							success: function (result) {
								if (result.code == 200){
									alert(result.msg)
									window.location.href = "/"
									return 
								} else {
								alert(result.msg)
									return false
								}
								
							},
						});
					});
				} else {
					alert(result.msg)
				}
			},
		});
	});
	
</script>
{{end}}